@media all and (min-width: 375px) and (max-width: 812px){
    h1{
        font-family: 'Shrikhand';
    }
    body{
        font-family: 'Roboto';
    }
    h1 img{
        width: 200px;
        margin-left: 80px;
    }
    .localisation{
        background-color: #eaeaea;
        font-size: 1.5em;
        height: 60px;
        text-align: center;
        padding-top: 30px;
    }
    .exploration{
        text-align: center;
    }
    .titre-exploration{
        font-weight: bold;
    }
    .texte-exploration{
        font-size: 1.1em;
    }
    .button-exploration{
        background-color: #9356DC;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 100px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .button-exploration:hover{
        background-color: #FF79DA;
    }
    .fonctionnement-titre{
        font-weight: bold;
    }
    .fonctionnement-btn-menu{
        display: flex;
        flex-wrap: wrap;

    }
    .fonctionnement-btn-nbr {
        border: 3px solid #9356DC;
        border-radius: 100%;
        background-color:#9356DC ;
        color: white;
  
    }
    .fonctionnement-btn-text{
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
   
        background-color: #f2f2f2;
    }
    .fonctionnement-btn-text i:hover{
        color: #9356DC;
    }
    .restaurant-titre{
        font-weight: bold;
    }
    .restaurants{
        background-color: #f2f2f2;
        height: 1300px;
    }
    .restaurant-description{
        height: 10%;
        width: 100%;

    }
    .card-img{
        height: 150px;
        width: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 20px;
    }
    .card-description{
        background-color: white;
        width: 350px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
  
    }
    .card-button{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #9356DC;
    }
    .card-button:hover{
        color: #FF79DA;
    }
    .restaurant-description a{
        text-decoration: none;
        color: black;
    }
    .card-badge{
        position: absolute;
        z-index: 1;
        background-color: rgb(11, 238, 170);
        color: forestgreen;
    }
}





